name: Test
on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go-version:
          - "1.24"
          - "1.25"
    steps:
    - uses: actions/checkout@v5

    - name: Setup Go ${{ matrix.go-version }}
      uses: actions/setup-go@v6
      with:
        go-version: ${{ matrix.go-version }}
        check-latest: true
    - name: Display Go version
      run: go version
    - name: Test
      run: make test
